player-connection-mode=Listen
player-connection-guid=570439116
player-connection-debug=0
player-connection-project-name=AshutoshBante_PS_Assignment
player-connection-ip=192.168.1.33
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=b87610a98a5f40c98432ec4d2bf9db85
